.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .88rem;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  border-top: 1px solid #36363d;
  background-color: #1d1d25;
  ul {
  	@include box;
  }
  
  li {
    @include flex;
    font-size: .2rem;
    text-align: center;
  }
  li a {
    display: block;
    color: #4c4c4e;
    padding-top: .1rem;
  }
  li .icon-wrap {
    height: .46rem;
    margin: 0 auto;
    display: table;
  }
  li i {
    display: inline-block;
  }
  li i.i-money {
    width: .4rem;
    height: .4rem;
    background: url(i/i-money.png) no-repeat;
    background-size: 100% 100%;
  }
  li i.i-unlock {
    width: .34rem;
    height: .38rem;
    background: url(i/i-unlock.png) no-repeat;
    background-size: 100% 100%;
  }
  li i.i-base {
    width: .4rem;
    height: .4rem;
    background: url(i/i-base.png) no-repeat;
    background-size: 100% 100%;
  }

  li i.i-my {
    width: .4rem;
    height: .4rem;
    background: url(i/i-my.png) no-repeat;
    background-size: 100% 100%;
  }
  li.active a {
    color: #fc6027;
  }
  li.active i.i-money{
    background-image: url(i/i-money-h.png);
  }
  li.active i.i-unlock{
    background-image: url(i/i-unlock-h.png);
  }
  li.active i.i-base{
    background-image: url(i/i-base-h.png);
  }
  li.active i.i-my{
    background-image: url(i/i-my-h.png);
  }
}