$main-color: #f69;
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .88rem;
  min-width: 320px;
  margin: 0 auto;
  background-color: #f9eded;
  border-top: 1px solid #e4d7d7;
  ul {
  	@include box;
  }
  
  li {
    @include flex;
    font-size: .2rem;
    text-align: center;
  }
  li a {
    display: block;
    color: #888;
    padding-top: .1rem;
  }
  li .icon-wrap {
    height: .46rem;
    margin: 0 auto;
    display: table;
  }
  li i {
    display: inline-block;
  }
  li.active a {
    color: $main-color;
  }
}