@import "_base.scss";
@import "_lib.scss";
@import "_swiper.scss";
@import "_search.scss";
@import "_footer.scss";
$main-color: #f69;
.banner {
	position: relative;
	.img-list {
		width: 100%;
		max-height: 300px;
		font-size: 0;
		img {
			width: 100%;
			height: auto;
			max-height: 300px;
		}
	}
	.banner-focus {
		position: absolute;
		width: 100%;
		bottom: 20px;
		left: 0;
		text-align: center;
		.focus-wrap {
			background: rgba(0,0,0,.35);
			padding: 3px 20px;
			font-size: 0;
			display: inline-block;
			border-radius: 20px;
		}
		.focus {
			display: inline-block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: rgba(255,255,255,.4);
			margin: 0 3px;
		}
		.focus.curr {
			width: 8px;
			height: 8px;
			background: #f23030;
			border: 2px solid #fff;
		}
	}
}

.kinds {
	.box {
		@include box;
		background: $main-color;
		@include bd-tb-1px(solid,#fff,bottom);
		text-align: center;
		&:last-child {
			&:after {
				border: none;
			}
		}
		.flex {
			@include flex;
			text-align: center;
			@include bd-lr-1px(solid,#fff,right);
			height: 1rem;
			a {
				display: table;
				width: 100%;
				height: 100%;
				color: #fff;
				.flex-wrap {
					display: table-cell;
					vertical-align: middle;
				}
			}
			&:last-child {
				&:after {
					border: none;
				}
			}
		}
	}

}
.hot {
	.m {
		background: #fff;
		margin-top: 5px;
		&:first-child {
			margin-top: 0;
		}
	}
	.mt {
	    color: #E24AA5;
	    font-size: 14px;
	    line-height: 28px;
	    height: 28px;
	    text-align: center;
	    .vline {
		    display: inline-block;
		    border-bottom: 1px solid #E24AA5;
		    width: 34px;
		    margin-bottom: 5px;
		    &.left {
		    	margin-right: 6px;
		    }
		    &.right {
		    	margin-left: 6px;
		    }
		}
		.title {
			font-weight: bold;
		}
	}
	.mc {
		@include box;
		padding-bottom: 10px;
		.flex {
			@include flex;
			padding-left: 5px;
			&:last-child {
				padding-right: 5px;
			}
		}
		.img {
			width: 100%;
			height: auto;
		}
		.tit {
			color: #666;
			font-size: 14px;
			margin: 5px 0;
		}
		.price {
			.real {
				color: $main-color;
			}
			.old {
				color: #999;
				text-decoration: line-through;
				font-size: 10px;
			}
		}
	}
}
